<a class="back btn-primary text-end" href="javascript:window.history.go(-1); "><i class="bi bi-arrow-left text-end"></i></a>

<table class="table caption-top table-striped table-hover table-bordered">
  <caption class="text-center">Listado de los Usuarios</caption>
</table>



<div class="row">
  <div class="col-xs-12 col-sm-4" *ngFor="let usua of usuarios">
    <div class="card mb-2 border-danger " >
      <div class="card-header text-center border-danger">
        {{ usua.nombres }}
      </div>
      <!-- <img src="assets/img/pelotas.jpg" class="card-img-bottom" alt="..."> -->
      <div class="card-body text-center">
        <img class="image"  *ngIf="usua.imagen" [src]="this.url + 'obtenerImagen/' + usua.imagen"/>
        <img class="image"  *ngIf="usua.imagen === null" src="/assets/img/usuarios/User.png"/>
        <p class="card-text">Apellidos: {{ usua.apellidos }}</p>
        <p class="card-text">Usuario: {{ usua.usuario }}</p>
        <p class="card-text">Edad: {{ usua.edad }}</p>
        <p class="card-text">Correo: {{ usua.email }}</p>
        <!-- <p class="card-text">Correo: {{ usua.equipos }}</p> -->
        <!-- <li *ngFor="let equi of usua.equipo">
          <p class="card-text" *ngIf="equi._id === usua.equipos">Equipos: {{ equi.nombre }}</p>
          <p class="card-text">Correo: {{ equi.nombre }}</p>
        </li> -->
        
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalEliminarUsuario"
            (click)="obtenerUsuarioId(usua._id)" *ngIf= "usua.rol === 'ROL_USER' || usua.rol === 'ROL_COACH'" >Eliminar</button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de eliminar la cuenta? Usuario: {{ usuarioIDModel.usuario }} Nombre: {{ usuarioIDModel.nombres }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
         (click)="eliminarUser( usuarioIDModel._id)" >Eliminar</button>
      </div>
    </div>
  </div>
</div>


<br> <br> <br>
<br> <br> <br>
<footer>
  <div class="banner-wrapper">
    <div class="icon-text">
      <div class="icon-text-icon">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p class="fst-italic text-white">Reto Deportivo</p>
            <p class="fst-italic text-white">Derechos reservados © 2021</p>
            <p></p>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>
</footer>