<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RetoDeportivo</title>
</head>

<body>
    <header>
        <section class="textos-header">
            <h1>Reto Deportivo</h1>
            <h2>Vivelo al máximo</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <img src="/assets/img/12.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>¿Cuál es el tema de trabajo?</h3>
                    <p>El formar eventos deportivos comunitarios.</p>
                    <h3><span>2</span>Nuestra App</h3>
                    <p>Nuestra aplicación esta inspirada en brindar una forma de
                        aprovechamiento al tiempo, en Guatemala la mayor parte de
                        su población son propensos a que se distraigan en acciones
                        que no les favorece como persona, hasta tales puntos que la
                        juventud actual han mitigado a vicios de alcoholismo o drogadiscion.
                        Esto los encamina a ambientes criminales, por lo cual esto es un
                        gran problema, nuestra app tiene como fin el educar los principios
                        de los participantes en eventos deportivos.</p>
                </div>
            </div>
        </section>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <img src="/assets/img/11.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>3</span>Nuestros Objetivos</h3>
                    <p>- Que nuestra interfaz sea amigable y facil de interpretar para el usuario.
                        - Tener el apoyo de la municipalidad auxiliar de la zona para la organización de los eventos comunitarios.</p>
                    <h3><span>4</span>Alcance</h3>
                    <p>Queremos tener la flexibilidad de que participen niños pequeños y adultos de la tercera edad.</p>
                </div>
            </div>
        </section>

        <section class="clientes contenedor">
            <h2 class="titulo">Equipo de trabajo #RetoDeportivo</h2>
            <div class="cards">
                <div class="card">
                    <img src="/assets/img/heber.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Heber Ajbal 2019010</h4>
                    </div>
                </div>
                <div class="card">
                    <img src="/assets/img/Isac.png" alt="">
                    <div class="contenido-texto-card">
                        <h4>Julio Lima 2016306</h4>
                    </div>
                </div>

            </div>
        </section>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <img src="/assets/img/Retrato.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Pedro Luis Alvarez 2016240</h4>
                    </div>
                </div>
                <div class="card">
                    <img src="/assets/img/jairo.jpeg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Jairo Corona 2019066</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <img src="/assets/img/aoa.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Alejandro Carrillo 2019138</h4>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="contenedor-footer">

        </div>
        <h2 class="titulo-final">&copy; Autores | Pedro Luis Alvarez 2016240 || Jairo Corona 2019066 || Heber Ajbal 2019010 || Julio Lima 2016306 || Alejandro Carrillo 2019138 </h2>
    </footer>
</body>

</html>
