<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h2>{{torneoList.nombre}}</h2>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">

    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalEditar">EDITAR</button>
      <button type="button" class="btn btn-outline-danger" (click)="eliminarTorneo()">ELIMINAR</button>
    </div>
  </div>
</div>

<!--Modal editar Torneo-->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Torneo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control"
            name="nombre" #nombres="ngModel" [(ngModel)]="modelTorneo.nombre">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarTorneo()">Guardar</button>
      </div>
    </div>
  </div>
