body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

h1 {
  color: #2a2d34;
  font-weight: 500;
  text-align: center;
  font-size: 64px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #ff4d00 !important;
  margin-left: 15px;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}

img{
  width: 200px;
  height: auto;
}

@import url('https://fonts.googleapis.com/css?family=Amarante');

html { overflow-y: scroll; }
body {
  background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #ff4d00;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr {
  color: #2a2d34;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}

.img{
  height: 214px;
  width: 1266px;
  float: left;
}

.btn{
  background: linear-gradient(45deg, #FF4D00, #E60E0E);
  color:  white !important;
}

.btn:hover{
  color: white;
  border-radius: 10px;
}

.opciones:hover{
  transform:scale(1.1);
  overflow: hidden;
}



.back{
  position: fixed;
    font-size: 30px;
    text-align: right;
    height: 45px;
    width: 35px;
    margin-left: 1175px;
    border-radius: 50px;
    margin-top: 175px;
    background-color: white;
    color: #ff4d00;
}

.cam{
  margin-left: 100px;
  height: 120px;
  width: auto;
}

th{
  color: white;
}
