<div class="center">
  <!-- Markup efecto -->
  <figure class="card card-with-hover">
    <!-- Photo by Iga Palacz on Unsplash -->
    <img src="https://images.unsplash.com/photo-1546552615-f8861d1aa798?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="img24">
    <figcaption class="card-caption">
      <div class="card-caption-content">
        <h2>Nombre Equipo</h2>
        <p>Integrante</p>
        <p>Integrante</p>
        <p>Integrante</p>
        <p>Integrante</p>
        <p>Integrante</p>
        <h2>Categoria</h2>
      </div>
    </figcaption>
  </figure>
  <!-- Markup efecto -->
</div>
